<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/custom.css">

<style>
 body {
    background-image: linear-gradient(
      45deg,
   
      #0b000a,
      #5e204e

    );
  
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    width: 100%;
}
</style>
 



  <title>Add New Service</title>
</head>
<body>




  <div class="content">

  </div>

  <h1>Add New Service</h1>
  <form id="addServiceForm" action="/index" method="POST">
    <label for="serviceName">Service Name:</label><br>
    <input type="text" id="serviceName" name="serviceName" required><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" required></textarea><br>

    <label for="imageUrl">Image URL:</label><br>
    <input type="url" id="imageUrl" name="imageUrl" required><br>

    <label for="companyLink">Company Link:</label><br>
    <input type="url" id="companyLink" name="companyLink" required><br>

    <div class="form-control">
      <a href="/index" class="btn btn-back">Cancel</a>
    

      <button type="submit">Add Service</button>
    </div>
  </form>






  <script src="/webb.js"></script>

  <script src="/models/services.js"></script>



 

</body>
</html>