<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> gamification</title>

<link rel="stylesheet" href="/css/custom.css">
</head>

<body>
<div class="hero">

<video autoplay loop muted plays-inline class="back-video">
   
    <source src="/img/video background.mp4" type="video/mp4">

</video>


<nav>
    <ul>
<li><a href="/create">Add new service</a></li>
<li><a href="/">Home</a></li>
<li><a href="/index">services</a></li>

    </ul>

</nav>

<div class="content">
    <h1>Gamification</h1>
    <a href="/index" >Explore</a>



</div>
</div>
    
</body>
</html>